.main-wrapper{
  max-height: calc(100vh - 160px);
  height: calc(100vh - 160px);
  padding: 20px;
}

.header-wrapper{
  height: 100px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

.container-wrapper{
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    background-color: aliceblue
}
