table {
  min-width: 800px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: auto;
}

button{
  margin: 10px;
}

.comments-wrapper {
  width: 12rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.error-class {
  width: 100%;
  margin: 10px;
  padding: 10px;
  font-size: medium;
  font-weight: bold;
  color: gray;
  text-align: center;
}
